/* start variable */
:root {
    --main-color: #10cab7;
    --secandry-color: #056158;
}

/* end variable */
/* Start Global Rules */
html {
    scroll-behavior: smooth;  /*You Should Visit "Can I Use" Web Site To Know What Browsers Can Use This*/
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', 'sans-serif';
}
.container {
    margin-left: auto;
    margin-right: auto;

}

/* Small Screen  */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* Mediam Screen  */
@media (min-width: 992px){
    .container {
        width: 750px;
    }
}
/* Large Screen  */
@media (min-width: 1200px){
    .container {
        width: 1170;
    }
}
/* End Global Rules */
/* Start Special Commands */
.special-heading {
    color: #b5bfbf;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading + p {
    font-size: 20px;
    text-align: center;
    color: #797979;
    margin: -30px 0 0;
}
@media (max-width : 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Special Commands */

/* Start Header  */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header .logo {
    width: 60px;
    height: 35px;
}
header .links {
    position: relative;
}
header .links:hover .icon span:nth-child(2) {
    width: 100%;
    opacity: 1;
}
header .links .icon {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
    width: 30px;   
}
header .links .icon span {
    background-color: #333;
    margin-bottom: 3px;
    height: 3px;
    opacity: .7;
    transition: 0.3s;
}
header .links .icon span:first-child {
    width: 100%;
}
header .links .icon span:nth-child(2) {
    width: 50%;
}
header .links .icon span:last-child {
    width: 100%;
}
header .links ul {
    list-style: none;
    background-color: #eee;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% - 2px);
    transition: 0.3s;
    display: none;
    z-index: 1;
}
header .links ul::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    right: 10px;
    top: -20px;
}
header .links:hover ul{
    display: block;
}
header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #555;
    transition: 0.3s;
}
header .links ul li a:hover {
    padding-left: 25px;
    color: #888;
    background-color: #ddd;
}

/* End Header  */
/* Start Landing */

.landing {
    background-image: url('../image/686998.jpg');
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
    background-attachment: fixed;
}
.landing .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50% , -50%);
}
.landing .intro h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro p{
    font-size: 19px;
    line-height: 1.8;
    color:  #444;
}
/* End Landing */
/* Start Feature */
.feature {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ddd;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    column-gap: 20px;
}
.feature .feat {
    text-align: center;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
}
.feature .feat:hover {
    background-color: #FFF;
opacity: 0.8;}
.feature .feat i {
    color: var(--main-color);
}
.feature .feat h3 {
    font-weight: 800;
    color: #444;
    margin: 30px 0;
}
.feature .feat p {
    color: #444;
    line-height: 1.8;
}
/* End Feature */
/* Start Services */
.services .services-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.services .services-content .col {
  padding-top: 10px;
  padding-bottom: 10px;
}
.services .services-content .col .serv {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .services .services-content .col .serv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .serv i {
    color: var(--main-color);
}
.services .services-content .col .serv .text h3{
    margin: 8px 0 8px 0;
    font-size: 20px;
    color: #444;
}
.services .services-content .col .serv .text p {
    margin: 0;
    line-height: 1.6;
    color:#444;
}
.services .services-content .image-serv {
    margin-top: 100px;
    text-align: center;
    position: relative;
}
.services .services-content .image-serv::before {
    content: "";
    position: absolute;
    background-color: var(--secandry-color);
    right: 0;
    width: 80px;
    height: calc(100% + 100px);
    top: -50;
    z-index: -1;
}
.services .services-content .image-serv img {
    width: 250px;
}
@media (max-width: 1199px) {
    .image-serv {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.protfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ddd;
}
.protfolio .protfolio-content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    column-gap: 20px;
}
.protfolio .protfolio-content .card {
    background-color: #eee;
}
.protfolio .protfolio-content .card img {
    width: 100%;
}
.protfolio .protfolio-content .card .info {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.protfolio .protfolio-content .card h3 {
    margin: 0 0 6px 0;
}
.protfolio .protfolio-content .card p {
    margin: 0;
    line-height: 1.4;
}
/* End Portfolio */

/* Start About */
.about {
    padding-top: 20px;
    padding-bottom: 20px;
}
.about .about-content {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (max-width : 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image-about {
    width: 40%;
    position: relative;
}
.about .about-content .image-about::before {
    content: "";
    position: absolute;
    width: 100px;
    background-color: #ddd;
    height: calc(100% + 80px);
    top: -40;
    z-index: -1;
}
.about .about-content .image-about::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 300px;
    top: -42;
    right: -130;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    z-index: -1;
}
@media (max-width : 991px) {
    .about .about-content .image-about::before,
    .about .about-content .image-about::after {
        display: none;
    }
}
.about .about-content .image-about img {
    width: 95%;
    height: 360px;
}
.about .about-content .text {
    width: 50%;
    padding-left: 60px;
    line-height: 1.4;
}
@media (max-width : 991px) {
    .about .about-content .image-about,
    .about .about-content .text {
        width: 100%;
    }
    .about .about-content .text {
        padding-left: 0;
    }
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
}
.about .about-content .text hr {
    border-color: var(--main-color);
    width : 60%
}
.about .about-content .text p:last-of-type {
    color: #777;
    line-height: 1.6;
}

/* End About */
/* Start Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #ddd;
}
.contact .contact-content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.contact-content .label {
    font-weight: 800;
    font-size: 32px;
    color: var(--secandry-color);
    padding-top: 20px;
}
.contact-content .link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 28px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.contact .contact-content .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.contact .contact-content .social i {
    color: var(--main-color);
    margin-left: 10px;
}
.contact .contact-content .social i:hover{
    color: var(--secandry-color);
}
@media (max-width: 767px) {
    .contact-content .label,
    .contact-content .link {
        font-size: 20px;
        padding-left: 5px;
    }
}
/* End Contact */
/* Start Footer  */
footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secandry-color);
    color: #ddd;
    text-align: center;
}
footer span {
    color: var(--main-color);
}
/* End Footer  */
